*,:after, :before { box-sizing: border-box;}

body{
	padding-bottom:20px;
}

.nadpis h1{
	font-size: 48px; 
	color: green; 
	font-weight: bold;
	font-family:  "Helvetica";
	text-align: center;
	margin:40px;
}
.bezec{
	margin: 3em;
}
.hlavicka{
	text-align: center;
}
.tlacitka .btn{
	display: block;
	width: 250px;
	margin:20px auto;
	color:green;
	font-size:2.5m;
	font-weight:bold;
	background-color: #d5e1df;
}
.kontakty{
	text-align: center;
}
.kontakty h2{
	margin: 40px 0 10px 0;
	font-size:36px;
	color:green;
	font-weight: bold;
	font-family: "Helvetica";
}


.obrazky{
	float: left;
}
.zarovnani{
	text-align: center;
	font-weight: bold;
	font-family:"Helvetica";
	font-size:20px;
}
.formular{
	text-align: center;
	font-weight: bold;
	font-family:"Helvetica";
	font-size:15px;
}
.kontakt img {
	width:300px;
	float:left;
	margin-right:20px;
}
.kontakt{
	margin-bottom:20px;
}

