*,:after, :before { box-sizing: border-box;}

body{
min-height:100vh;
}

.container_body{
	background-color:#d2ed9e;
	padding-bottom:50px;
	min-height:calc(100vh - 75px);
}

.navbar{
	background-color:#846413;
}

.btn{
	display: block;
	margin:20px auto;
	color:#344F00;
	font-size:2.5m;
	font-weight:bold;
	background-color: #d5e1df;
}

.btn:hover{
	color:#344F00;
}
.buttons .btn{
	width: 250px;
}

.login_buttons{
	float:right;
}
.login_button{
	display:inline-block;
}

.login_button .btn{
	align-content: flex-end;
	padding: 5px 20px;
}

.title h1{
	font-size: 48px; 
	color: #344F00; 
	font-weight: bold;
	font-family:  "Helvetica";
	text-align: center;
	padding-top:30px;
	margin:40px;
}

.runner{
	margin: 3em;
}
.header{
	text-align: center;
}

.table .btn {
	margin:0;
	display:inline-block;
}

.contacts{
	text-align: center;
}
.contacts h2{
	margin: 40px 0 10px 0;
	font-size:36px;
	color:#344F00;
	font-weight: bold;
	font-family: "Helvetica";
}

.images{
	float: left;
}
.alignment{
	text-align: center;
	font-weight: bold;
	font-family:"Helvetica";
	font-size:20px;
	padding-bottom:20px;
}

.alignment_1{
	text-align: center;
	font-weight: bold;
	font-family:"Helvetica";
	font-size:20px;
	padding-top:40px;
	padding-bottom:40px;
}

.alignment .col-sm-2{
	text-align: center;
	margin: auto;
	font-family:"Helvetica";
	font-size:20px;
	padding-bottom:20px;
	padding-top: 40px;
	display: inline-block;
}

.form{
	text-align: left;
	font-weight: bold;
	font-family:"Helvetica";
	max-width:600px;
	margin:auto;
}

.contact img {
	width:300px;
	float:left;
	margin-right:20px;
}
.contact{
	margin-bottom:20px;
}

.table_header{
	background-color: #d5e1df;
	margin: auto;
	font-family:"Helvetica";
	font-weight:bold;
	text-align:center;
	color:#344F00;
	padding:20px;
}

.table{
	margin:auto;
	max-width:700px;
	text-align:center;
	padding-bottom:60px;
	padding-top:30px;
}
.table td, .table th{
	vertical-align:middle;
}

.slider{
	margin:auto;
	font-family:"Helvetica";
	font-size: 1em;
	width:600px;
	padding-top:20px;
	padding-bottom:40px;
}

.slider select{
	max-width:600px;
}

.slider_alignment{
	text-align: center;
	font-weight: bold;
	font-family:"Helvetica";
	font-size:20px;
	padding-bottom:30px;
	padding-top:30px;
	max-width: 1000px;
}

.link{
	color:#344F00;
}

.description{
	padding-top:50px;
}

.description h3{
	color:#344F00;
}