{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="{{ url_for('static', filename='bezec.png') }}" width="30" height="30" class="d-inline-block align-top" palt="">
		BĚŽCI SOBĚ
		<div class="nadpis h1">
			<h1>JE NÁM LÍTO</h1>
		</div>
<p class="zarovnani">
Na tento závod už auto nabízíš;) <br />
</p>
</div>
<div class="tlacitka">
		<a href="{{ url_for('zavody_bp.show_zavody') }}" class="btn btn-default">
			AHA! OK:)
		</a>
</div>
{% endblock %}