{% extends "layout.html" %}
{% block title %}NOVÉ HESLO{% endblock %}
{% block body %}

<form method="POST" action="{{ url_for('obnova_hesla_bp.heslo_new') }}">

<div class="zarovnani">
Zadej prosím nové heslo.
</div>

<div class="formular">
<div class="form-group row">

    <label for="password" class="col-sm-2 col-form-label">Heslo*:</label>
	<div class="col-sm-10">
        <input type="password" class="form-control form-control-sm" min-width=8 name="password" required id="password"
               value="">
	</div>	
</div>

<div class="form-group row">

    <label for="password_confirmation" class="col-sm-2 col-form-label">Potvrzení hesla*:</label>
	<div class="col-sm-10">
        <input type="password" class="form-control form-control-sm" min-width=8 name="password_confirmation" required
               id="password_confirmation"
               value="">
	</div>	
</div>
<input type="hidden" name="token" required id="token" value="{{ token }}">
</div>

<div>
	<p class="tlacitka">
		<input tabindex=1 type="submit" value="Změnit heslo" class="btn btn-default">
	</p>
</div>

</form>
{% endblock %}