{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="{{ url_for('static', filename='bezec.png') }}" width="30" height="30" class="d-inline-block align-top" palt="">
		BĚŽCI SOBĚ
		<div class="nadpis h1">
			<h1>OBNOVA HESLA</h1>
		</div>
<div class="zarovnani">
Zadej prosím nové heslo.
<form>
Heslo:
<input tabindex=1 type="password" size=50 name="heslo" required><br />
Potvrzení hesla:
<input tabindex=1 type="password" size=50 name="heslo" required><br />
</form>
<p class="tlacitka">
		<a href="{{ url_for('zavody_bp.show_zavody') }}" class="btn btn-default"><br />
		OK
</p>
</div>
{% endblock %}