{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<img src="{{ url_for('static', filename='bezec.png') }}" width="30" height="30" class="d-inline-block align-top" palt="">
			BĚŽCI SOBĚ
<div class="hlavicka">
<div class="nadpis h1">
		<h1>KDO A CO JSME ZAČ?</h1>
</div> 
<div class="obrazky">
	<img class = "obrazky" src="{{ url_for('static', filename='iva.PNG.png') }}">
	<p> Zatím z domu pracující máma na rodičovské, která chce změnit kariéru a tím i svůj život:) IT ji neskutečně oslovilo a baví ji! </p>
	<img class="obrazky" src="{{ url_for('static', filename='petra.png') }}">
	<p>Celkem aktivní maminka na rodičovské dovolené, která je ráda venku a potřebuje nenechat zreznout mozkové závity. Její “datové dovednosti a zkušenosti” jsou zatím jen ty, které jií dala Akademie. Baví ji Python i SQL.</p>
	<img class="obrazky" src="{{ url_for('static', filename='czechitas.png') }}">
	<p>Píšeme příběhy žen v IT už od samého počátku. Otevíráme jim dveře k informačním technologiím, motivujeme a vzděláváme je. Více o<a href='https://www.czechitas.cz/cs/'>Czechitas.</a></p>
</div>
<div class="kontakty" >
	<h2>KONTAKTY</h2>
</div>
<div>
	<p>Pokud nám chceš cokoli napsat, můžeš <a href='info@bezcisobe.cz'>tady.</a></p>
	<p>Samozřejmě nás najdeš i na <a href='https://www.facebook.com/trenerkb/'>FACEBOOKU.</a></p>
</div>
{% endblock %}