<!-- Tohle je komentář v HTML. Prohlížeč ho ignoruje, ale Flask ne. Proto nemůžu
     v komentářích používat kombinaci složená závorka-procento, protože Flask se
     to snaží pochopit, i když je to jenom komentář. Proto v komentářích používám
     {$ a $}, které Flask nezná, takže mu nevadí. Jenom si představ, že místo "$"
     je tam "%" :) //-->


<!-- První element na stránce: říka, že tohle je HTML dokument //-->
<!DOCTYPE HTML>
<html>
<!-- Začátek hlavičky - hlavička obsahuje metadata pro prohlížeč, která se nezobrazují
     nikde na stránce //-->

<head>

	<!-- Nastaví titulek stránky - to je to, co se objeví v názvu tabu v prohlížeči //-->
	<title>Běžci sobě</title>

	<!-- Připojí ke stránce soubor, který obsahuje spoustu předpřipravených stylů,
         které nám usnadní upravovat, jak má stránka vypadat //-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>

	<!-- Připojí ke stránce soubor, který obsahuje naše vlastní styly.
         Všechno mezi {{ a }} Flask nahradí za skutečné hodnoty. V tomhle případě
         nahrádí url_for('static', filename='style.css') za skutečnou adresu, na
		 které prohlížeč může najít soubor static/style.css //-->
		 


	   
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

	<!-- Konec hlavičky //-->
</head>
<!-- Začátek těla stránky - všechno mezi <body> a </body> se zobrazí jako obsah
     stránky //-->

<body>
	<div class="stranka">
		<nav class="navbar navbar-light bg-light rounded container">
				<a class="navbar-brand" href="/">
					<img src="{{ url_for('static', filename='bezec5.png') }}" width="30" height="30" class="d-inline-block align-top"
					 alt="">
					BĚŽCI SOBĚ
				</a>
				<div class="tlacitka_login">
					{% if current_user.is_authenticated %}
					<div class="tlacitko_login">
						<div class="btn btn-default">{{ current_user.jmeno }} {{ current_user.prijmeni }}</div>
					</div>
	
					<div class="tlacitko_login">
						<a href="{{ url_for('prihlaseni_bp.logout') }}" class="btn btn-default btn-sm">
							Odhlásit</a>
					</div>
					{% endif %}
	
					{% if not current_user.is_authenticated %}
					<div class="tlacitko_login">
						<a href="{{ url_for('prihlaseni_bp.login') }}" class="btn btn-default">Přihlásit se</a>
					</div>
	
					<div class="tlacitko_login">
						<a href="{{ url_for('registrace_bp.show_registrace') }}" class="btn btn-default">Registrovat se</a>
					</div>
					{% endif %}
				</div>
			</nav>
	<div class="container container_telo rounded">
		
		<div class="nadpis h1">
			<h1>{% block title %}{% endblock %}</h1>
		</div>

		{% with messages = get_flashed_messages(with_categories=true) %}
		<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		{% if messages %}
		  {% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
					{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<!-- <strong>Title</strong> -->
			</div>
		  {% endfor %}
		{% endif %}
	  {% endwith %}

		<!-- {$ a $} jsou zase instrukce pro Flask, které říkají, že sem se má vložit
         block s názvem "body" z jednotlivých templatů, které tento "layout" rozšiřují //-->
		{% block body %}
		{% endblock %}

		<!-- Konec oddilu stránky //-->
	</div>
	<!-- Konec těla stránky. Za tíhle prvkem už nic nesmí být //-->

</div>
</body>

</html>