{% extends "layout.html" %}
{% block title %}O NÁS{% endblock %}
{% block body %}
<div class="kontakt clearfix">
	<img src="{{ url_for('static', filename='botyiva.jpg') }}" alt="Boty_Iva" class="rounded">

	<div class="popis">
		<h3>IVA</h3>

		<p>Zatím z domu pracující máma na rodičovské, která chce změnit kariéru a tím i svůj život:) IT ji neskutečně oslovilo a baví ji!</p>
	</div>
</div>

<div class="kontakt clearfix">
	<img src="{{ url_for('static', filename='botypetra.jpg') }}" alt="Boty_Petra" class="rounded">
	<div class="popis">
		<h3>PETRA</h3>
		<p>Celkem aktivní maminka, partnerka, milovnice všeho španělského, volnočasová běžkyně a nadšená pekařka, která umí vyjít s počítačem i s lidmi a pro kterou je vzduch ještě víc než sůl.
		</p>
	</div>
</div>

<div class="kontakty">
	<h2>KONTAKTY</h2>
	<p>Pokud nám chceš cokoli napsat, můžeš <a class="odkaz" href='mailto:bezcisobe@gmail.com'>tady.</a></p>
	<p>Samozřejmě nás najdeš i na <a class="odkaz" href='https://www.facebook.com/bezcisobe/'>FACEBOOKU.</a></p>
</div>
{% endblock %}