{% extends "layout.html" %}
{% block title %}OBNOVA HESLA{% endblock %}
{% block body %}

<form method="POST" action="{{ url_for('password_renewal_bp.show_renewal') }}">


<div class="zarovnani">
	Zadej prosím e-mail, ke kterému by měl existovat účet v naší databázi. Pokud tomu tak opravdu je, zašleme Ti na něj link pro obnovu hesla.
</div>

<div class="formular">
	<div class="form-group row">

		<label for="email" class="col-sm-2 col-form-label">E-mail*:</label>
		<div class="col-sm-10">
			<input type="email" class="form-control form-control-sm" name="email" required id="email" value="">
		</div>
	</div>

	<p class="tlacitka">
		<input tabindex=1 type="submit" value="Odeslat" class="btn btn-default"></a>
	</p>
</div>
{% endblock %}