{% extends "layout.html" %}
{% block title %}POTVRZENÍ JÍZDY{% endblock %}
{% block body %}

{% if error%}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

{% if success%}
<div class="alert alert-danger">{{ success }}</div>
{% endif %}

<div class="zarovnani">
		Potvrď prosím svoji volbu spolujízdy na závod.
</div>

<form method="POST" action="{{ url_for('potvrzeni_jizdy_bp.chci_nastoupit') }}">

<div class="tabulka">
	<table class="table table-bordered table-sm">
		 <thead class="zahlavitabulky">
			 <tr>
				 <th scope="col">Řidič/ka</th>
				 <th scope="col">Odjíždí z</th>
				 <th scope="col">Odjíždí dne</th>
				 <th scope="col">Volná místa v autě</th>
				 <th scope="col">Rezervuji míst</th>
				 <th scope="col">Poznámky</th>
			 </tr>
		 </thead>
		 <tbody>
			<tr>
				<th scope="row">{{ values.jmeno }}</th>
				<td>{{ values.misto_odjezdu }}</td>
				<td>{{ values.datum_odjezdu.strftime('%d. %m. %Y') }}</td>
				<td>{{ values.volnych_mist }}</td>
				<td><input type="number" class="form-control form-control-sm" name="chci_mist" required id="chci_mist" value=""></td>
				{% if values.poznamky %}
				<td>{{ values.poznamky }}</td>
				{% else %}
				<td></td>
				{% endif %}
			 </tr>
		 </tbody>
	 </table>
</div>
<input type="hidden" id="id_jizdy" name="id_jizdy" value="{{ values.id_jizdy }}">
<input type="hidden" id="id_zavod" name="id_zavod" value="{{ values.id_zavod }}">
<div>
		<p class="tlacitka">
			<input tabindex=1 type="submit" value="POTVRZUJI" class="btn btn-default">
		</p>
</div>
</form>

<div class="tlacitka">
	<a href="{{ url_for('zavody_bp.show_zavody') }}" class="btn btn-default">
			CHCI JET JINAK
		</a>
</div>
{% endblock %}