{% extends "layout.html" %}
{% block title %}PŘIHLÁŠENÍ{% endblock %}
{% block body %}

<div>
	<form action=prihlaseni.html target="_blank">
</div>
<div>
		<p class="zarovnani">
	Zadej prosím svůj email a heslo.
	</p>
</div>

<p class="formular">
		E-mail*:
		<input tabindex=1 type="text" size=50 name="email"><br />
</p>

<p class="formular">
		Heslo*:
		<input tabindex=1 type="password" size=50 name="heslo"><br />
</p>

<div>
		<p class="tlacitka">
				<a href="{{ url_for('zavody_bp.show_zavody') }}" class="btn btn-default">
				Přihlásit se
				<a href="{{ url_for('registrace_bp.show_registrace') }}"  class="btn btn-default">
				Nemám zatím účet
				<a href="{{ url_for('obnova_bp.show_obnova') }}" class="btn btn-default">
				Zapomněl/a jsem heslo
		</p>
	</div>









</form>
{% endblock %}