
<!-- {$ extends $} says to Flask that this template extends the layout.html template.
    It is very useful when you have more pages that have the same head and structure
    and are different only in one part (for example the main content) and you don´t want
    to repeat the head in all templates. //-->
{% extends "layout.html" %}
{% block title %}ZÁVODY{% endblock %}
{% block body %}

<form method="GET" action="{{ url_for('add_new_car_bp.show_add_new_car_form') }}">

	<div class="alignment">
		<p>Vyber si datum závodu a následně konkrétní závod pro daný den.</p>
		<p>Nebo si rovnou vyber z kompletního seznamu závodů.</p>
			<div class="col-sm-2">
				<input id="date" type="date" class="form-control form-control-sm" data-date-inline-picker="true" name="race_date"
				 value="{{ race_date }}">
			</div>
	</div>

	<div class="buttons">
		<a href="#" class="btn btn-default" onclick="javascript:location.href='/zavody/?race_date='+document.getElementById('date').value">
			VYBRAT DATUM
		</a>
	</div>

	<div class="alignment">
		<div class="slider">
			<select name="id_race" onchange="javascript:location.href='/zavody/?id_race='+this.value+'&race_date='+document.getElementById('date').value">
				<option value="">Vyber si závod.</option>
				{% for race in races %}
				<option value="{{ race.id_race }}" {% if race.id_race==id_chosen %}selected{% endif %}>
					{{ race.date_race.strftime("%d. %m. %Y") + ": " + race.name_race + ", " + race.place_race}}
				</option>
				{% endfor %}
			</select>
		</div>
	</div>
	{% if id_chosen > 0 and carpool_offer %}
	<div class="table">
		<table class="table table-bordered table-sm">
			<thead class="table_header">
				<tr>
					<th scope="col">Řidič/ka</th>
					<th scope="col">Odjíždí z</th>
					<th scope="col">Odjíždí dne</th>
					<th scope="col">Volná místa v autě</th>
					<th scope="col">Poznámky</th>
					<th scope="col">Chci nastoupit</th>
				</tr>
			</thead>
			<tbody>
				{% for record in carpool_offer %}
				<tr>
					<th scope="row">{{ record.name }}</th>
					<td>{{ record.departure_place }}</td>
					<td>{{ record.departure_date.strftime('%d. %m. %Y') }}</td>
					<td>{{ record.free_seats }}</td>
					{% if record.notes %}
					<td>{{ record.notes }}</td>
					{% else %}
					<td></td>
					{% endif %}
					<td>
						<a href="{{ url_for('ride_confirmation_bp.show_ride_confirmation', chosen=record.id_ride) }}" class="btn btn-success btn-sm">Ano</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% elif id_chosen > 0 %}
	<p class="alignment_1">Je nám líto. Na tento závod není aktuálně k dispozici žádné volné auto. <br>Můžeš ho sem přidat,
		anebo se vrátit později.</p>
	{% endif %}



	</p>
	<div class="buttons">
		<input tabindex=1 type="submit" value="PŘIDAT AUTO K ZÁVODU" class="btn btn-default">


	</div>
</form>

{% endblock %}