{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="{{ url_for('static', filename='bezec.png') }}" width="30" height="30" class="d-inline-block align-top" palt="">
		BĚŽCI SOBĚ
		<div class="nadpis h1">
			<h1>REGISTRAČNÍ FORMULÁŘ</h1>
		</div>
	
<div>
<form method="POST" action="{{ url_for('registrace_bp.add_new') }}" target="_blank">
</div>

<div>
	<p class = "formular">
	Jméno*:
	<input tabindex=1 type="text" size=50 name="jmeno" required >
	</p>
	<p class="formular">
Příjmení*:
<input tabindex=1 type="text" size=50 name="prijmeni" required>
	</p>
	<p class="formular">
Ulice,č.p./č.o.:
<input tabindex=1 type="text" size=50 name="ulice" required>
	</p>
	<p class="formular">
Město/Obec*:
<input tabindex=1 type="text" size=50 name="mesto" required>
	</p>
	<p class="formular">
PSČ*:
<input tabindex=1 type="text" size=50 name="psc" required>
	</p>

	<p class="formular">
E-mail*:
<input tabindex=1 type="text" size=50 name="email" required>
	</p>
	<p class="formular">
Telefon*:
<input tabindex=1 type="text" size=50 name="telefon" required>
	</p>
	<p class="formular">
Heslo*:
<input tabindex=1 type="password" size=50 name="heslo" required>
	</p>
	<p class="formular">
Potvrzeni hesla*:
<input tabindex=1 type="password" size=50 name="heslo_potvrzeni" required>
	</p>
</div>

<div>
		<p class="hlavicka">
<input tabindex=1 type="checkbox" checked name="skrtatko" value="ano">    Souhlasím ze zpracováním osobních údajů.
	</p>
</div>

<div>
	<p class="tlacitka">
<input tabindex=1 type="submit" value="Odeslat" class="btn btn-default">
	</p>
</div>
</form>

{% endblock %}