{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}REGISTRAČNÍ FORMULÁŘ{% endblock %}
{% block body %}

<div class="formular">
<form method="POST" action="{{ url_for('registrace_bp.add_new') }}">
  {{form.csrf_token}}

  {{ render_field(form.username) }}
  {{ render_field(form.surname) }}
  {{ render_field(form.street) }}
  {{ render_field(form.city) }}
  {{ render_field(form.postcode) }}
  {{ render_field(form.email) }}
  {{ render_field(form.phone) }}
  {{ render_field(form.password) }}
  {{ render_field(form.confirm_password) }}
  <div class="hlavicka">
    {{form.gdpr.label}}
    {{form.gdpr(class="form-control form-control-sm")}}
  </div>
  {% if form.errors["gdpr"] %}
  <div class="alert alert-danger col-sm-10" role="alert">
    <ul>{% for error in form.errors["gdpr"] %} <li>{{error}}</li>{% endfor %}</ul>
  </div>
  {%endif%}

  <div>
    <p class="tlacitka">
      <input tabindex=1 type="submit" value="Odeslat" class="btn btn-default">
    </p>
  </div>
</form>
</div>
{% endblock %}