{% extends "layout.html" %}
{% block title %}POTVRZENÍ JÍZDY{% endblock %}
{% block body %}


<form method="POST" action="{{ url_for('ride_confirmation_bp.show_confirmation') }}">

<div class="table">
	<table class="table table-bordered table-sm">
		 <thead class="table_header">
			 <tr>
				 <th scope="col">Řidič/ka</th>
				 <th scope="col">Odjíždí z</th>
				 <th scope="col">Odjíždí dne</th>
				 <th scope="col">Zamluvených míst</th>
				 <th scope="col">Poznámky</th>
			 </tr>
		 </thead>
		 <tbody>
			 <tr>
				 <th scope="row">{{ values.name }}</th>
				 <td>{{ values.departure_place}}</td>
				 <td>{{ values.departure_date.strftime('%d. %m. %Y') }}</td>
				 <td>{{ values.wanted_seats }}</td>
				 <td>{{ values.notes }}</td>
			 </tr>
		 </tbody>
	 </table>
</div>
<div class="buttons">
	<a href="{{ url_for('races_bp.show_races') }}"  class="btn btn-default">
		OK
	</a>
</div>
</form>

{% endblock %}