<!-- Tohle je komentář v HTML. Prohlížeč ho ignoruje, ale Flask ne. Proto nemůžu
     v komentářích používat kombinaci složená závorka-procento, protože Flask se
     to snaží pochopit, i když je to jenom komentář. Proto v komentářích používám
     {$ a $}, které Flask nezná, takže mu nevadí. Jenom si představ, že místo "$"
     je tam "%" :) //-->

<!-- {$ extends $} říká Flasku, že tato šablona rozšiřuje šablonu layout.html
     Tohle je hodně užitečné, když máš vícero stránek, které mají stejnou hlavičku
     a strukturu a liší se jenom v jedné části (třeba v hlavním obsahu) a nechceš
     pokaždý tu hlavičku opakovat ve všech šablonách //-->
     {% extends "layout.html" %}
     <!-- Řekne flasku, že tedy začíná blok body - Flask vezme to, co je tedy mezi touhle
          značkou a značkou {$ endblock $} a vloží to na stejně označené místo v layout.html
     //-->
		 {% block body %}
		 <nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="#">
					<img src="{{ url_for('static', filename='bezec.png') }}" width="30" height="30" class="d-inline-block align-top" palt="">
					BĚŽCI SOBĚ
				</a>
			</nav>
			<div class="nadpis h1">
                    {% if id_vybraneho > 0 %}
                    <h1>Závody {{ id_vybraneho }}</h1>
                    {% else %}
                    <h1>Seznam závodů</h1>
                    {% endif %}
			</div>
			<div class="zarovnani">
					<p>Podívej se na seznam závodů.</p>            
            <select name="id_zavod" onchange="javascript:location.href='/zavody/'+this.value" style="width: 80%;">
                <option value="">Vyber si závod.</option>
                {% for zavod in zavody %}
                <option value="{{ zavod.id_zavod }}" {% if zavod.id_zavod == id_vybraneho %}selected{% endif %}>
                    {{ zavod.datum_zavodu.strftime("%d. %m. %Y") + ": " + zavod.nazev + ", " + zavod.misto_zavodu}}
                </option>
                {% endfor %}
                </select>

				 <br/>
			</div>
         <p>
        {% if id_vybraneho > 0 and nabidka_spolujizdy %}
        <table border=1>
                <tr>
                    <td>Řidič/ka</td>
                    <td>Odjíždí z</td>
                    <td>Odjíždí dne</td>
                    <td>Volná místa v autě</td>
                    <td>Poznámky</td>
                    <td>Chci nastoupit</td>
                </tr>
                {% for record in nabidka_spolujizdy %}
                <tr>
                    <td>{{ record.jmeno }}</td>
                    <td>{{ record.misto_odjezdu }}</td>
                    <td>{{ record.datum_odjezdu.strftime('%d. %m. %Y') }}</td>
                    <td>{{ record.volnych_mist }}</td>
                    {% if record.poznamky %}
                    <td>{{ record.poznamky }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>Chci nastoupit</td>
                </tr>
                {% endfor %}
        </table>
        {% elif id_vybraneho > 0 %}
        <h6>Je nám líto. Na tento závod není aktuálně k dispozici žádné volné auto. Zkus se sem vrátit později.</h6>
        {% endif %}
				</p>
				<div class="tlacitka">
						<a href="{{ url_for('newautoinput_bp.show_newautoinput') }}" class="btn btn-default">
							PŘIDAT AUTO K ZÁVODU
						</a>
				</div>
		

     <!-- Řekne Flasku, že tady končí blok "body" //-->
     {% endblock %}
     