<!-- Tohle je komentář v HTML. Prohlížeč ho ignoruje, ale Flask ne. Proto nemůžu
     v komentářích používat kombinaci složená závorka-procento, protože Flask se
     to snaží pochopit, i když je to jenom komentář. Proto v komentářích používám
     {$ a $}, které Flask nezná, takže mu nevadí. Jenom si představ, že místo "$"
     je tam "%" :) //-->

<!-- {$ extends $} říká Flasku, že tato šablona rozšiřuje šablonu layout.html
     Tohle je hodně užitečné, když máš vícero stránek, které mají stejnou hlavičku
     a strukturu a liší se jenom v jedné části (třeba v hlavním obsahu) a nechceš
     pokaždý tu hlavičku opakovat ve všech šablonách //-->
     {% extends "layout.html" %}
     <!-- Řekne flasku, že tedy začíná blok body - Flask vezme to, co je tedy mezi touhle
          značkou a značkou {$ endblock $} a vloží to na stejně označené místo v layout.html
     //-->
		 {% block body %}
		 <nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="#">
					<img src="{{ url_for('static', filename='bezec.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
					BĚŽCI SOBĚ
				</a>
			</nav>
         <!-- Začátek oddílu stránky třídy jumbotron - třída jumbotron je zase definovaná
              v jednom z těch .css souborů, které jsme připojili v hlavičce v layout.html
             a říká, že obsah má být extra-velkými písmeny a na šedém pozadí //-->

          <h1>Závody {{ id_vybraneho }}</h1>

         <!-- Odstavec //-->
         <p>Podívej se na seznam závodů.</p>            
            <select name="zavod" onchange="javascript:location.href='/zavody/'+this.value">
                <option value="">Vyber si závod.</option>
                {% for zavod in zavody %}
                <option value="{{ zavod.id_zavod }}" {% if zavod.id_zavod == id_vybraneho %}selected{% endif %}>
                    {{ zavod.datum_zavodu.strftime("%d-%m-%Y") + ": " + zavod.nazev + ", " + zavod.misto_zavodu}}
                </option>
                {% endfor %}
                </select>
         <!-- Vynechá jeden řádek //-->
         <br/>
         <p>
             {{ nabidka_spolujizdy }}
         <table>
                <tr><td>Kdo</td><td>Nástupní místo</td><td>Kolik má míst</td><td>Poznámka</td><td>Chci nastoupit</td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                </table>
        </p>

     <!-- Řekne Flasku, že tady končí blok "body" //-->
     {% endblock %}
     