<!-- Tohle je komentář v HTML. Prohlížeč ho ignoruje, ale Flask ne. Proto nemůžu
     v komentářích používat kombinaci složená závorka-procento, protože Flask se
     to snaží pochopit, i když je to jenom komentář. Proto v komentářích používám
     {$ a $}, které Flask nezná, takže mu nevadí. Jenom si představ, že místo "$"
     je tam "%" :) //-->

<!-- {$ extends $} říká Flasku, že tato šablona rozšiřuje šablonu layout.html
     Tohle je hodně užitečné, když máš vícero stránek, které mají stejnou hlavičku
     a strukturu a liší se jenom v jedné části (třeba v hlavním obsahu) a nechceš
     pokaždý tu hlavičku opakovat ve všech šablonách //-->
     {% extends "layout.html" %}
     {% block title %}ZÁVODY{% endblock %}
		 {% block body %}
		 
	<form method="GET" action="{{ url_for('newautoinput_bp.show_newautoinput') }}">

			<div class="formular">
					<p>Nejprve si prosím vyber ze seznamu závodů.</p>            
            <select name="id_zavod" onchange="javascript:location.href='/zavody/'+this.value" style="width: 80%;">
                <option value="">Vyber si závod.</option>
                {% for zavod in zavody %}
                <option value="{{ zavod.id_zavod }}" {% if zavod.id_zavod == id_vybraneho %}selected{% endif %}>
                    {{ zavod.datum_zavodu.strftime("%d. %m. %Y") + ": " + zavod.nazev + ", " + zavod.misto_zavodu}}
                </option>
                {% endfor %}
							</select>
				</div>
				{% if id_vybraneho > 0 and nabidka_spolujizdy %}
				<div class="tabulka">
						 <table class="table table-bordered table-sm">
								<thead class="zahlavitabulky">
									<tr>
										<th scope="col">Řidič/ka</th>
										<th scope="col">Odjíždí z</th>
										<th scope="col">Odjíždí dne</th>
										<th scope="col">Volná místa v autě</th>
										<th scope="col">Poznámky</th>
										<th scope="col">Chci nastoupit</th>
									</tr>
								</thead>
								<tbody>
									{% for record in nabidka_spolujizdy %}
									<tr>
										<th scope="row">{{ record.jmeno }}</th>
										<td>{{ record.misto_odjezdu }}</td>
										<td>{{ record.datum_odjezdu.strftime('%d. %m. %Y') }}</td>
										<td>{{ record.volnych_mist }}</td>
										{% if record.poznamky %}
										<td>{{ record.poznamky }}</td>
										{% else %}
										<td></td>
										{% endif %}
										<td>
											<a href="{{ url_for('potvrzeni_jizdy_bp.show_potvrzenijizdy', zvoleno=record.id_jizdy) }}" class ="btn btn-success btn-sm" >Ano</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
					</div>

					{% elif id_vybraneho > 0 %}
					<p class = "zarovnani1">Je nám líto. Na tento závod není aktuálně k dispozici žádné volné auto. Můžeš ho sem přidat, anebo se vrátit později.</p>
					{% endif %} 



				</p>
				<div class="tlacitka">
						<input tabindex=1 type="submit" value="PŘIDAT AUTO K ZÁVODU" class="btn btn-default">
						
					
				</div>
		

     <!-- Řekne Flasku, že tady končí blok "body" //-->
     {% endblock %}
     